@import "tailwindcss";

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

/* Ocultar barra de scroll */
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Ocultar barra de scroll en navegadores basados en Webkit */
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* Ocultar barra de scroll en IE y Edge */
    scrollbar-width: none;     /* Ocultar barra de scroll en Firefox */
  }
  